.movies-container {
  position: relative;
  margin-top: 10rem;
  margin-bottom: 15rem;
  padding-left: 1rem;
  padding-right: 1rem;
  overflow: hidden;
  min-height: 80vh;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .movies-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (min-width: 1024px) {
  .movies-container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media (min-width: 1280px) {
  .movies-container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.movies-title {
  font-size: 1.125rem;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.movies-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: flex-start;
}
@media (max-width: 640px) {
  .movies-list {
    justify-content: center;
  }
}

.movies-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.movies-empty-title {
  font-size: 1.875rem;
  font-weight: 700;
  text-align: center;
} 